

/* Menu Styles */

.container{
	width: 1024px !important;
	margin-top: 30px;
	margin-bottom: 30px;

}

.menu{
	width:1024px;
	/*height:768px;*/
	position: fixed;

}

/* Parts of the menu */


.about-me{
	width:318px;
	height:584px;
	background: url(../img/menu-aboutme.png)no-repeat;
	background-size: 90%;
	position: absolute;
	top:50px;
	left:60px;
}

.about-me:hover{
	width:318px;
	height:653px;
	background: url(../img/menu-aboutme-hover.png)no-repeat;
	position: absolute;
	top:-19px;
	left:60px;
}

.books{
	width:241px;
	height:190px;
	background: url(../img/menu-books.png)no-repeat;
	position: absolute;
	left:610px;
	top:240px;
}

.books:hover{
	width:289px;
	height:190px;
	background: url(../img/menu-books-hover.png)no-repeat;
	position: absolute;
	left:609px;
	top:240px;
}

.contact{
	width:172px;
	height:142px;
	background: url(../img/menu-contact.png)no-repeat;
	position: absolute;
	left:480px;
	top:63px;
}

.contact:hover{
	width:228px;
	height:204px;
	background: url(../img/menu-contact-hover.png)no-repeat;
	position: absolute;
	left:480px;
	top:1px;
}

.illustrations{
	width:148px;
	height:135px;
	background: url(../img/menu-illustrations.png)no-repeat;
	position: absolute;
	left:485px;
	top:452px;
}

.illustrations:hover{
	width:168px;
	height:195px;
	background: url(../img/menu-illustrations-hover.png)no-repeat;
	position: absolute;
	left:465px;
	top:452px;
}

.interfaces{
	width:175px;
	height:167px;
	background: url(../img/menu-interfaces.png)no-repeat;
	position: absolute;
	left:685px;
	top:460px;
}

.interfaces:hover{
	width:225px;
	height:219px;
	background: url(../img/menu-interfaces-hover.png)no-repeat;
	position: absolute;
	left:685px;
	top:408px;
}

.bow{
	width:71px;
	height:68px;
	background: url(../img/img-bow.png)no-repeat;
	position: absolute;
	left: 400px;
	top: 50px;
}


.logo{
	width:231px;
	height:162px;
	background: url(../img/img-logo.png)no-repeat;
	position: absolute;
	left: 335px;
	top: 250px;
}

.pony{
	width:111px;
	height:149px;
	background: url(../img/img-pony.png)no-repeat;
	position: absolute;
	left: 690px;
	top: 87px;
}

.skates{
	width:140px;
	height:213px;
	background: url(../img/img-skates.png)no-repeat;
	position: absolute;
	left: 300px;
	top: 420px;
}









