/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* Colors */
/* line 18, ../sass/main.scss */
body {
  font-family: "Roboto Condensed", sans-serif;
}

/* line 21, ../sass/main.scss */
h1 {
  font-size: 3.5em;
}

/* line 24, ../sass/main.scss */
.container {
  padding: 3.5em 0 3.5em 0;
  position: relative;
}

/* line 28, ../sass/main.scss */
section {
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
}

/*SECTIONG ABOUT ME*/
/* line 35, ../sass/main.scss */
.about-me {
  background-color: #99a8f8;
}
/* line 37, ../sass/main.scss */
.about-me .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 42, ../sass/main.scss */
.about-me .pink-stripes {
  width: 16em;
  height: 3.85em;
  top: -2em;
  right: 4em;
  transform: rotate(-6deg);
  z-index: 20;
  position: absolute;
}
/* line 51, ../sass/main.scss */
.about-me .pink-stripes.top {
  background: url("../img/item-pink-stripes.svg") no-repeat;
}
/* line 54, ../sass/main.scss */
.about-me .pink-stripes.shadow {
  background: url("../img/item-pink-stripes-shadow.svg") no-repeat;
  mix-blend-mode: multiply;
  z-index: 10;
  transform: rotate(-6deg) translate(-0.35em, 0);
}
/* line 60, ../sass/main.scss */
.about-me .black-circle {
  background: url("../img/item-black-circle.svg") no-repeat;
  width: 12em;
  height: 12em;
  right: -4.75em;
  top: 0;
  position: absolute;
}

/* line 69, ../sass/main.scss */
.description {
  width: 50%;
  padding: 0 4em 0 6em;
  z-index: 10;
}
/* line 73, ../sass/main.scss */
.description h1 {
  color: #282153;
}
/* line 75, ../sass/main.scss */
.description h1 b {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  display: block;
}
/* line 82, ../sass/main.scss */
.description p {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 1em;
  line-height: 25px;
}
/* line 88, ../sass/main.scss */
.description .button {
  background-color: #f7e4ed;
  border: 2px solid #2f344f;
  font-size: 1.25em;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0.45em 1.4em;
  color: #2f344f;
  cursor: pointer;
  margin-top: 2em;
}

/* line 99, ../sass/main.scss */
.photo {
  width: 50%;
  position: relative;
  max-width: 30em;
}
/* line 103, ../sass/main.scss */
.photo img {
  float: right;
  max-width: 100%;
  position: relative;
  z-index: 9;
}
/* line 109, ../sass/main.scss */
.photo .photo-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 2em;
  right: 2em;
  background-color: #74cec5;
}

/*SECTION MY WORK */
/* line 121, ../sass/main.scss */
.my-work .combo {
  position: absolute;
  z-index: -1;
}
/* line 125, ../sass/main.scss */
.my-work .combo-triangle {
  background: url("../img/combo-triangle.svg") no-repeat;
  width: 16.129em;
  height: 13.013em;
  top: 5em;
}
/* line 131, ../sass/main.scss */
.my-work .combo-triangle-circle {
  background: url("../img/combo-triangle-circle.svg") no-repeat;
  width: 9.875em;
  height: 5.250em;
  top: 5em;
  right: 14em;
}
/* line 138, ../sass/main.scss */
.my-work .combo-wiggly-circle {
  background: url("../img/combo-wiggly-circle.svg") no-repeat;
  width: 14.7em;
  height: 10.750em;
  top: 31em;
  right: -3em;
}
/* line 145, ../sass/main.scss */
.my-work .combo-circles {
  background: url("../img/combo-circles.svg") no-repeat;
  width: 14.812em;
  height: 13.697em;
  top: 50em;
  left: -3em;
}
/* line 152, ../sass/main.scss */
.my-work .combo-cube {
  background: url("../img/combo-cube.svg") no-repeat;
  width: 15.225em;
  height: 13.106em;
  top: 75em;
  right: 3em;
}
/* line 159, ../sass/main.scss */
.my-work .title {
  width: 13.750em;
  margin: 0 auto;
}
/* line 162, ../sass/main.scss */
.my-work .title h1 {
  text-transform: uppercase;
  color: #d73584;
  font-weight: 700;
}
/* line 167, ../sass/main.scss */
.my-work .title p {
  font-size: 2em;
  font-weight: 300;
  color: #2f344f;
  text-align: right;
}
/* line 174, ../sass/main.scss */
.my-work .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 4em;
  justify-content: center;
}
/* line 180, ../sass/main.scss */
.my-work .box {
  width: 15.875em;
  height: 20.875em;
  margin: 1em;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(40, 33, 83, 0.2);
  -moz-box-shadow: 0px 3px 20px 0px rgba(40, 33, 83, 0.2);
  box-shadow: 0px 3px 20px 0px rgba(40, 33, 83, 0.2);
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in-out;
  cursor: pointer;
  background-color: #fff;
}
/* line 192, ../sass/main.scss */
.my-work .box .img {
  height: 16em;
  width: 100%;
  overflow: hidden;
}
/* line 196, ../sass/main.scss */
.my-work .box .img img {
  height: 100%;
}
/* line 200, ../sass/main.scss */
.my-work .box .project-description {
  flex: 1;
  padding: 1.35em 0;
}
/* line 203, ../sass/main.scss */
.my-work .box .project-description p {
  text-align: center;
}
/* line 206, ../sass/main.scss */
.my-work .box .project-description .name {
  font-size: 1.25em;
  margin-bottom: 0.35em;
}
/* line 210, ../sass/main.scss */
.my-work .box .project-description .type {
  text-transform: uppercase;
  font-size: 0.85em;
  color: #adadad;
}
/* line 218, ../sass/main.scss */
.my-work .interfaces .img {
  background-color: #ef7fb2;
}
/* line 221, ../sass/main.scss */
.my-work .interfaces .name {
  color: #e4538c;
}
/* line 226, ../sass/main.scss */
.my-work .illustrations .img {
  background-color: #798ae9;
}
/* line 229, ../sass/main.scss */
.my-work .illustrations .name {
  color: #798ae9;
}
/* line 234, ../sass/main.scss */
.my-work .branding .img {
  background-color: #74cec5;
}
/* line 237, ../sass/main.scss */
.my-work .branding .name {
  color: #66b5ab;
}

/* line 242, ../sass/main.scss */
.box:hover {
  transform: translate(0, -0.75em);
  -webkit-box-shadow: 0px 3px 40px 0px rgba(40, 33, 83, 0.2);
  -moz-box-shadow: 0px 3px 40px 0px rgba(40, 33, 83, 0.2);
  box-shadow: 0px 3px 40px 0px rgba(40, 33, 83, 0.2);
}

/*  MODAL */
/* line 252, ../sass/main.scss */
.modal {
  border: 9px solid #798ae9;
  max-width: 50em;
  width: 80%;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-height: 31em;
  /*Top Bar*/
  /*Content*/
}
/* line 263, ../sass/main.scss */
.modal .modal-container {
  display: flex;
  flex-flow: row wrap;
}
/* line 268, ../sass/main.scss */
.modal .navigation-bar {
  flex: 1 100%;
  height: 2em;
  border-bottom: 9px solid #798ae9;
  background-color: #99a8f8;
}
/* line 274, ../sass/main.scss */
.modal .navigation-bar .icon-close__container {
  float: right;
  background-color: #fff;
  padding: 0.25em;
  border-left: 9px solid #798ae9;
}
/* line 281, ../sass/main.scss */
.modal .navigation-bar .icon-close__container:hover {
  cursor: pointer;
}
/* line 284, ../sass/main.scss */
.modal .navigation-bar .icon-close__container:hover .icon-close {
  fill: #d73584;
}
/* line 290, ../sass/main.scss */
.modal .modal-content {
  display: flex;
  padding: 4em 2em;
}
/* line 294, ../sass/main.scss */
.modal .modal-content .project-img {
  flex: 6;
  padding: 1em;
  display: flex;
}
/* line 299, ../sass/main.scss */
.modal .modal-content .project-img .web-container {
  background: url("../img/web-container.svg") no-repeat;
  width: 100%;
  height: 100%;
  align-self: center;
}
/* line 306, ../sass/main.scss */
.modal .modal-content .project-info {
  flex: 3;
  padding: 1em;
  align-self: center;
}
/* line 311, ../sass/main.scss */
.modal .modal-content .project-info h2 {
  font-size: 2.75em;
  color: #e4538c;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 0.85em;
}
/* line 319, ../sass/main.scss */
.modal .modal-content .project-info p {
  line-height: 25px;
  font-weight: 300;
}

@media (max-width: 1000px) {
  /* line 329, ../sass/main.scss */
  .my-work .combo-triangle-circle {
    right: 0;
  }
}
@media (max-width: 850px) {
  /* line 337, ../sass/main.scss */
  .about-me .container {
    flex-wrap: wrap;
  }
  /* line 339, ../sass/main.scss */
  .about-me .container .black-circle {
    font-size: 0.825rem;
  }

  /* line 344, ../sass/main.scss */
  .description,
  .photo {
    width: 100%;
  }

  /* line 348, ../sass/main.scss */
  .photo {
    padding-top: 5em;
  }
  /* line 350, ../sass/main.scss */
  .photo .pink-stripes {
    top: 3.15em;
  }

  /* line 355, ../sass/main.scss */
  .my-work .combo-triangle {
    font-size: 0.95em;
    top: 13em;
  }
  /* line 359, ../sass/main.scss */
  .my-work .projects {
    padding: 3em 1em;
  }

  /* line 364, ../sass/main.scss */
  .modal .modal-content {
    flex-direction: column;
    padding: 1em 2em;
  }
  /* line 368, ../sass/main.scss */
  .modal .modal-content .project-img {
    height: 20em;
    justify-content: center;
  }
  /* line 372, ../sass/main.scss */
  .modal .modal-content .project-img .web-container {
    width: 28em;
  }
  /* line 376, ../sass/main.scss */
  .modal .modal-content .project-info {
    text-align: center;
  }
}
@media (max-width: 600px) {
  /* line 384, ../sass/main.scss */
  .description, .title {
    font-size: 0.8rem;
  }
  /* line 387, ../sass/main.scss */
  .description p, .title p {
    font-weight: normal;
  }

  /* line 391, ../sass/main.scss */
  .description {
    padding-left: 4em;
  }

  /* line 395, ../sass/main.scss */
  .modal.sm {
    max-height: none;
    transform: none;
    position: static;
    width: auto;
  }
  /* line 403, ../sass/main.scss */
  .modal.sm .modal-content .project-info {
    flex: 3 auto;
  }

  /* line 409, ../sass/main.scss */
  .my-work .combo-cube {
    top: 150em;
    right: -9em;
  }
  /* line 413, ../sass/main.scss */
  .my-work .combo-circles {
    top: 79em;
  }
  /* line 416, ../sass/main.scss */
  .my-work .combo-triangle-circle {
    display: none;
  }
  /* line 419, ../sass/main.scss */
  .my-work .combo-triangle-dots {
    background: url("../img/combo-triangle-dots.svg") no-repeat;
    width: 8.815em;
    height: 9.982em;
    top: 198em;
    left: 0;
  }
  /* line 426, ../sass/main.scss */
  .my-work .combo-half-circle {
    background: url("../img/combo-half-circle.svg") no-repeat;
    width: 12.500em;
    height: 9.828em;
    top: 230em;
    right: -4em;
  }
  /* line 434, ../sass/main.scss */
  .my-work .container .title {
    width: auto;
    margin: auto;
    text-align: center;
  }
  /* line 438, ../sass/main.scss */
  .my-work .container .title p {
    text-align: center;
  }

  /* line 444, ../sass/main.scss */
  .modal {
    min-height: 97.5vh;
  }
  /* line 447, ../sass/main.scss */
  .modal .modal-container {
    display: block;
  }
  /* line 450, ../sass/main.scss */
  .modal .modal-container .modal-content {
    padding: 2em 0em;
  }
  /* line 453, ../sass/main.scss */
  .modal .modal-container .modal-content .project-img {
    height: 15em;
    justify-content: center;
    display: flex;
  }
  /* line 458, ../sass/main.scss */
  .modal .modal-container .modal-content .project-img .web-container {
    width: 23em;
    align-self: center;
  }
  /* line 463, ../sass/main.scss */
  .modal .modal-container .modal-content .project-info {
    padding-top: 2em;
  }
}
/*section{

}
.header{
  background: $dark-purple url("../img/bg-texture.svg") repeat ;
  background-size: 11em;
  display: flex;
  height: 100vh;
  .container{
    height:80vh;
    width: 85vw;
    margin: auto;
    background: $light-pink;
    border: 9px solid $bright-blue;
  }
  .logo{
    .logo-dark-purple{
      background: url("../img/logo-painpony.svg");
    }
    .logo-bright-pink{
      background: url("../img/logo-painpony.svg");
      fill: blue;
    }
  }
  p{
    color: $dark-purple;
    font-size: 1.65em;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    line-height: 35px;
    b{
      font-weight: 700;
      display: block;
    }
  }
  .icon--down{
    margin: 2em auto 0 auto;
    display: block;
    fill: $dark-purple;
  }
}


.about-me{
  background: url("../img/bg-polygon.svg") no-repeat;
  overflow: hidden;
  position: relative;
  background-color: $light-purple;
  .about-me__container{
    position: relative;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  .text__container{

  }
  h1{
    padding-top: 10vh;
    font-size: 3.5em;
    color: #282153;
    b{
      font-weight:700;
      text-transform: uppercase;
      color: #fff;
      display: block;
    }
  }
  .description{
    font-size: 1.2em;
    width: 35vw;
    font-weight: 300;
    margin-top: 1em;
    line-height: 25px;
  }
}
.button{
  background-color: #f7e4ed;
  border: 2px solid #2f344f;
  font-size: 1.25em;
  font-family: 'Roboto', sans-serif;
  padding: 0.45em 1.4em;
  color: #2f344f;
  cursor: pointer;
  margin-top: 2em;
}
.photo{
  right: 0;
  top: 9em;
  z-index: 10;
}
.item{
  position: absolute;
}
.photo-square{
  width: 34.688em;
  height: 20.563em;
  background-color: #74cec5;
  right: 0;
  top: 10em;
  z-index: 5;
}
.black-circle{
  background: url("../img/item-black-circle.svg") no-repeat;
  width: 15em;
  height: 15em;
  right: -3vw;
  top: 4vh;
}
.pink-stripes{
    width: 16em;
    height: 4.85em;
    top: 14vh;
    right: 8vw;
    transform: rotate(-6deg);
    z-index: 20;
    position: absolute;
  }
  .pink-stripes.top{
    background: url("../img/item-pink-stripes.svg") no-repeat;
  }
  .pink-stripes.shadow{
    background: url("../img/item-pink-stripes-shadow.svg") no-repeat;
    mix-blend-mode: multiply;
  }


.pink-sprinkle{
  background: url("../img/item-pink-sprinkle.svg") no-repeat;
  width: 4.406em;
  height: 6.945em;
  top: -2vh;
  right: 30vw;
  transform: rotate(-118deg);
}
.mint-zigzag{
  background: url("../img/item-mint-zigzag.svg") no-repeat;
  width: 4.451em;
  height: 18.658em;
  top: -20vh;
  right: 53vw;
  transform: rotate(-66deg);
}
.white-tiles{
  background: url("../img/item-white-tiles.svg") no-repeat;
  width: 23em;
  height: 23em;
  right:21vw;
  bottom: -10vh;
  transform: rotate(140deg);
}
.purple-sprinkle{
  background: url("../img/item-purple-sprinkle.svg") no-repeat;
  width: 4.406em;
  height: 6.945em;
  bottom: 5vh;
  right: 51vw;
  transform: rotate(-56deg);
}
.yellow-circle{
  background: url("../img/item-yellow-circle.svg") no-repeat;
  width: 4.884em;
  height: 4.708em;
  bottom: 25vh;
  right: 48vw;
}


@media (max-width:900px){
.header{
    font-size: 0.9rem;
  .container{
    width:100vw;
  }
  .logo{
    width:85vw;
    height: 35vh;
    display: inherit;
    margin: 15vh auto 0 auto;
  }
  h1{
    font-size: 1.35em;
    line-height: 20px;
    }
    .icon--down{
      margin-top: 3em;
      width:45px;
    }
  }
  .about-me{
    .description{
      font-size: 1em;
      font-weight: 400;
      line-height: 21px;
    }
  }
  .button{
    font-size: 1.1em;
  }
}

@media (max-width:1000px){
  .about-me{
    overflow: visible;
    height: 100%;
    .description{
      width: 100%;
    }
    .photo{
      left: 0;
      top:90vh

    }
    .photo-square{
      left: 0;
      top:93vh
    }
    .mint-zigzag{
      display: none;
    }
  }
}
*/
