@import "compass/reset";

/* Variables */
$font-roboto:  'Roboto Condensed', sans-serif;
/* Colors */
$dark-purple: #2f344f;
$light-purple: #99a8f8;
$light-pink: #f7e4ed;
$bright-pink: #d73584;
$pale-pink: #ef7fb2;
$dark-pale-pink: #e4538c;
$bright-blue: #798ae9;
$pale-blue: #99a8f8;
$mint: #74cec5;
$dark-mint: #66b5ab;
$grey: #adadad;

body{
  font-family: $font-roboto;
}
h1{
  font-size: 3.5em;
}
.container{
  padding: 3.5em 0 3.5em 0;
  position: relative;
}
section{
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
}

/*SECTIONG ABOUT ME*/
.about-me{
  background-color: $light-purple;
  .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .pink-stripes{
      width: 16em;
      height: 3.85em;
      top: -2em;
      right: 4em;
      transform: rotate(-6deg);
      z-index: 20;
      position: absolute;
    }
  .pink-stripes.top{
    background: url("../img/item-pink-stripes.svg") no-repeat;
  }
  .pink-stripes.shadow{
    background: url("../img/item-pink-stripes-shadow.svg") no-repeat;
    mix-blend-mode: multiply;
    z-index: 10;
    transform: rotate(-6deg) translate(-0.35em, 0);
  }
  .black-circle{
    background: url("../img/item-black-circle.svg") no-repeat;
    width: 12em;
    height: 12em;
    right: -4.75em;
    top: 0;
    position: absolute;
  }
}
.description{
  width:50%;
  padding: 0 4em 0 6em;
  z-index: 10;
  h1{
    color: #282153;
    b{
      font-weight:700;
      text-transform: uppercase;
      color: #fff;
      display: block;
    }
  }
  p{
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 1em;
    line-height: 25px;
  }
  .button{
    background-color: $light-pink;
    border: 2px solid $dark-purple;
    font-size: 1.25em;
    font-family: $font-roboto;
    padding: 0.45em 1.4em;
    color: $dark-purple;
    cursor: pointer;
    margin-top: 2em;
  }
}
.photo{
  width:50%;
  position: relative;
  max-width: 30em;
  img{
    float:right;
    max-width: 100%;
    position: relative;
    z-index: 9;
  }
  .photo-shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 2em;
    right: 2em;
    background-color: $mint;
  }
}
/*SECTION MY WORK */
.my-work{
  .combo{
    position: absolute;
    z-index: -1;
  }
  .combo-triangle{
    background: url('../img/combo-triangle.svg') no-repeat;
    width: 16.129em;
    height: 13.013em;
    top: 5em;
  }
  .combo-triangle-circle{
    background: url('../img/combo-triangle-circle.svg') no-repeat;
    width: 9.875em;
    height: 5.250em;
    top: 5em;
    right:14em;
  }
  .combo-wiggly-circle{
    background: url('../img/combo-wiggly-circle.svg') no-repeat;
    width: 14.7em;
    height: 10.750em;
    top: 31em;
    right:-3em;
  }
  .combo-circles{
    background: url('../img/combo-circles.svg') no-repeat;
    width: 14.812em;
    height: 13.697em;
    top: 50em;
    left:-3em;
  }
  .combo-cube{
    background: url('../img/combo-cube.svg') no-repeat;
    width: 15.225em;
    height: 13.106em;
    top: 75em;
    right:3em;
  }
  .title{
    width: 13.750em;
    margin: 0 auto;
    h1{
      text-transform: uppercase;
      color: $bright-pink;
      font-weight: 700;
    }
    p{
      font-size: 2em;
      font-weight: 300;
      color: $dark-purple;
      text-align: right;
    }
  }
  .projects{
    display: flex;
    flex-wrap: wrap;
    padding: 4em;
    justify-content: center;
  }
    .box{
      width:15.875em;
      height:20.875em;
      margin: 1em;
      -webkit-box-shadow: 0px 3px 20px 0px rgba(40,33,83,0.2);
      -moz-box-shadow: 0px 3px 20px 0px rgba(40,33,83,0.2);
      box-shadow: 0px 3px 20px 0px rgba(40,33,83,0.2);
      display:flex;
      flex-direction: column;
      transition: all .3s ease-in-out;
      cursor: pointer;
      background-color: #fff;
      .img{
        height: 16em;
        width:100%;
        overflow: hidden;
        img{
          height: 100%;
        }
      }
      .project-description{
        flex: 1;
        padding: 1.35em 0;
        p{
          text-align: center;
        }
        .name{
          font-size: 1.25em;
          margin-bottom: 0.35em;
        }
        .type{
          text-transform: uppercase;
          font-size: 0.85em;
          color: $grey;
        }
      }
    }
    .interfaces{
      .img{
        background-color: $pale-pink;
      }
      .name{
        color: $dark-pale-pink;
      }
    }
    .illustrations{
      .img{
        background-color: $bright-blue;
      }
      .name{
        color: $bright-blue;
      }
    }
    .branding{
      .img{
        background-color: $mint;
      }
      .name{
        color: $dark-mint;
      }
    }
}
.box:hover {
   transform: translate(0, -0.75em);
   -webkit-box-shadow: 0px 3px 40px 0px rgba(40,33,83,0.2);
   -moz-box-shadow: 0px 3px 40px 0px rgba(40,33,83,0.2);
   box-shadow: 0px 3px 40px 0px rgba(40,33,83,0.2);
 }

/*  MODAL */


.modal{
  border: 9px solid $bright-blue;
  max-width: 50em;
  width: 80%;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);;
  min-height: 31em;

  .modal-container{
    display: flex;
    flex-flow: row wrap;
  }
    /*Top Bar*/
    .navigation-bar{
      flex: 1 100%;
      height: 2em;
      border-bottom: 9px solid $bright-blue;
      background-color: $pale-blue;

      .icon-close__container{
        float:right;
        background-color: #fff;
        padding: 0.25em;
        border-left: 9px solid $bright-blue;
      }

      .icon-close__container:hover{
        cursor: pointer;

        .icon-close{
          fill: $bright-pink;
        }
      }
    }
    /*Content*/
    .modal-content{
      display: flex;
      padding: 4em 2em;

    .project-img{
      flex: 6;
      padding: 1em;
      display: flex;

      .web-container{
        background: url('../img/web-container.svg') no-repeat;
        width: 100%;
        height: 100%;
        align-self: center;
      }
    }
    .project-info{
      flex: 3;
      padding:1em;
      align-self: center;

      h2{
        font-size: 2.75em;
        color: $dark-pale-pink;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 0.85em;
      }

      p{
        line-height: 25px;
        font-weight: 300;
      }
    }
  }
}

@media(max-width:1000px){
  .my-work{
    .combo-triangle-circle{
      right:0;
    }
  }
}

@media (max-width:850px){
  .about-me{
  .container{
    flex-wrap: wrap;
    .black-circle{
      font-size: 0.825rem;
      }
    }
  }
  .description,
  .photo{
    width: 100%;
  }
  .photo{
    padding-top: 5em;
    .pink-stripes{
      top: 3.15em;
    }
  }
  .my-work{
    .combo-triangle{
      font-size: 0.95em;
      top:13em;
    }
    .projects{
      padding: 3em 1em;
    }
  }
  .modal{
    .modal-content{
      flex-direction: column;
      padding: 1em 2em;

      .project-img{
        height: 20em;
        justify-content: center;

        .web-container{
          width: 28em;
        }
      }
      .project-info{
        text-align: center;
      }
    }
  }
}

@media(max-width:600px){
  .description, .title{
    font-size: 0.8rem;

    p{
      font-weight: normal;
    }
  }
  .description{
    padding-left: 4em;
  }

  .modal.sm{
    max-height: none;
    transform: none;
    position: static;
    width:auto;

    .modal-content{

      .project-info{
        flex: 3 auto;
      }
    }
  }
  .my-work{
    .combo-cube{
      top: 150em;
      right: -9em;
    }
    .combo-circles{
      top:79em;
    }
    .combo-triangle-circle{
      display: none;
    }
    .combo-triangle-dots{
      background: url('../img/combo-triangle-dots.svg') no-repeat;
      width: 8.815em;
      height: 9.982em;
      top: 198em;
      left:0;
    }
    .combo-half-circle{
      background: url('../img/combo-half-circle.svg') no-repeat;
      width: 12.500em;
      height: 9.828em;
      top: 230em;
      right:-4em;
    }
    .container{
      .title{
        width: auto;
        margin: auto;
        text-align: center;
        p{
          text-align: center;
        }
      }
    }
  }
  .modal{
    min-height: 97.5vh;

    .modal-container{
      display: block;

      .modal-content{
        padding: 2em 0em;

        .project-img{
          height: 15em;
          justify-content: center;
          display: flex;

          .web-container{
            width: 23em;
            align-self: center;
          }
        }
        .project-info{
          padding-top: 2em;
        }
      }
    }
  }
}

/*section{

}
.header{
  background: $dark-purple url("../img/bg-texture.svg") repeat ;
  background-size: 11em;
  display: flex;
  height: 100vh;
  .container{
    height:80vh;
    width: 85vw;
    margin: auto;
    background: $light-pink;
    border: 9px solid $bright-blue;
  }
  .logo{
    .logo-dark-purple{
      background: url("../img/logo-painpony.svg");
    }
    .logo-bright-pink{
      background: url("../img/logo-painpony.svg");
      fill: blue;
    }
  }
  p{
    color: $dark-purple;
    font-size: 1.65em;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    line-height: 35px;
    b{
      font-weight: 700;
      display: block;
    }
  }
  .icon--down{
    margin: 2em auto 0 auto;
    display: block;
    fill: $dark-purple;
  }
}


.about-me{
  background: url("../img/bg-polygon.svg") no-repeat;
  overflow: hidden;
  position: relative;
  background-color: $light-purple;
  .about-me__container{
    position: relative;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  .text__container{

  }
  h1{
    padding-top: 10vh;
    font-size: 3.5em;
    color: #282153;
    b{
      font-weight:700;
      text-transform: uppercase;
      color: #fff;
      display: block;
    }
  }
  .description{
    font-size: 1.2em;
    width: 35vw;
    font-weight: 300;
    margin-top: 1em;
    line-height: 25px;
  }
}
.button{
  background-color: #f7e4ed;
  border: 2px solid #2f344f;
  font-size: 1.25em;
  font-family: 'Roboto', sans-serif;
  padding: 0.45em 1.4em;
  color: #2f344f;
  cursor: pointer;
  margin-top: 2em;
}
.photo{
  right: 0;
  top: 9em;
  z-index: 10;
}
.item{
  position: absolute;
}
.photo-square{
  width: 34.688em;
  height: 20.563em;
  background-color: #74cec5;
  right: 0;
  top: 10em;
  z-index: 5;
}
.black-circle{
  background: url("../img/item-black-circle.svg") no-repeat;
  width: 15em;
  height: 15em;
  right: -3vw;
  top: 4vh;
}
.pink-stripes{
    width: 16em;
    height: 4.85em;
    top: 14vh;
    right: 8vw;
    transform: rotate(-6deg);
    z-index: 20;
    position: absolute;
  }
  .pink-stripes.top{
    background: url("../img/item-pink-stripes.svg") no-repeat;
  }
  .pink-stripes.shadow{
    background: url("../img/item-pink-stripes-shadow.svg") no-repeat;
    mix-blend-mode: multiply;
  }


.pink-sprinkle{
  background: url("../img/item-pink-sprinkle.svg") no-repeat;
  width: 4.406em;
  height: 6.945em;
  top: -2vh;
  right: 30vw;
  transform: rotate(-118deg);
}
.mint-zigzag{
  background: url("../img/item-mint-zigzag.svg") no-repeat;
  width: 4.451em;
  height: 18.658em;
  top: -20vh;
  right: 53vw;
  transform: rotate(-66deg);
}
.white-tiles{
  background: url("../img/item-white-tiles.svg") no-repeat;
  width: 23em;
  height: 23em;
  right:21vw;
  bottom: -10vh;
  transform: rotate(140deg);
}
.purple-sprinkle{
  background: url("../img/item-purple-sprinkle.svg") no-repeat;
  width: 4.406em;
  height: 6.945em;
  bottom: 5vh;
  right: 51vw;
  transform: rotate(-56deg);
}
.yellow-circle{
  background: url("../img/item-yellow-circle.svg") no-repeat;
  width: 4.884em;
  height: 4.708em;
  bottom: 25vh;
  right: 48vw;
}


@media (max-width:900px){
.header{
    font-size: 0.9rem;
  .container{
    width:100vw;
  }
  .logo{
    width:85vw;
    height: 35vh;
    display: inherit;
    margin: 15vh auto 0 auto;
  }
  h1{
    font-size: 1.35em;
    line-height: 20px;
    }
    .icon--down{
      margin-top: 3em;
      width:45px;
    }
  }
  .about-me{
    .description{
      font-size: 1em;
      font-weight: 400;
      line-height: 21px;
    }
  }
  .button{
    font-size: 1.1em;
  }
}

@media (max-width:1000px){
  .about-me{
    overflow: visible;
    height: 100%;
    .description{
      width: 100%;
    }
    .photo{
      left: 0;
      top:90vh

    }
    .photo-square{
      left: 0;
      top:93vh
    }
    .mint-zigzag{
      display: none;
    }
  }
}
*/
